@import url("https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap");

html {
     scroll-behavior: smooth;
}

body {
     font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
     margin: 0;
}

header #main-nav {
     background-color: #ffffff;
     text-align: center;
     padding: 1em 0;
     border-top: 1px solid #333e58;
     border-bottom: 1px solid #333e58;
}

header #main-nav a {
     color: #121f43;
     padding: 0 1.5vw 2px 1.5vw;
     line-height: 1.7;
     font-size: 95%;
     text-decoration: none;
     text-transform: uppercase;
}

header #main-nav a:hover {
     color: #1e3d90;
     text-decoration: none;
     border-bottom: 2px solid #d4c872;
}

header ul,
header ul li,
footer ul li {
     display: inline-block;
}

header h1 {
     background-image: url("https://lh3.googleusercontent.com/pw/AP1GczNHDTKjZeW5VrRiMbZg-V353nPOOM3v2OhWPmxs7AOVGEZyJa5s9W2swTxA7J-7emshwBwxbuRDdaA8BQIJgMjy8UN3BpQG2jj6QDbF-Y08yLs8gZ4-FvA0esKLcKtaxNFjvL2QOSJD0pd07BnxeGzIiQ=w966-h966-s-no-gm?authuser=0");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center 15%;
     color: #ffffff;
     padding: 8% 15% 35% 15%;
     margin: 0;
}

footer {
     background: #333e58;
     padding: 1em 4em;
}

footer,
footer a {
     color: #ffffff;
}

footer a:hover,
footer a:focus {
     color: #dde5ff;
     border-bottom: 1px solid;
}

footer p {
     font-size: 12px;
}

footer ul {
     list-style-type: none;
     padding: 0;
}

#footer-nav {
     text-align: center;
}

#footer-nav a {
     margin: 0 1em;
}

h1 {
     font-weight: 400;
     font-style: normal;
     font-size: 3vw;
     line-height: 1.5;
     text-align: center;
}

h1 span {
     font-family: "Lavishly Yours", serif;
     font-size: 12vw;
     line-height: 0.9;
     display: block;
     text-shadow: 0px 0px 15px #ccc866;
}

section {
     padding: 1em 4em;
}

#introduction,
#conclusion {
     background: #dce5ff;
     text-align: center;
     padding: 2em;
}

#introduction h2,
#introduction p,
#conclusion h2,
#conclusion p {
     max-width: 800px;
     margin: 0 auto;
}

#hemispheres {
     display: flex;
     flex-wrap: wrap;
}

#hemispheres h2,
#hemispheres p {
     max-width: 100%;
     width: 100%;
}

#hemispheres p:last-child {
     width: 100%;
     max-width: 100%;
     float: none;
}

#hemispheres img {
     max-width: 20%;
     width: auto;
     height: auto;
     max-height: fit-content;
     padding: 1em 2em;
}

#hemispheres>article {
     flex: 1 1 calc(30% - 10px);
     margin: 5px;
     box-sizing: border-box;
}

#hemispheres article {
     padding: 1em 3em;
     background-color: #333e58;
     color: #ffffff;
     border-radius: 10px;
}

#hemispheres article h3 {
     font-size: 130%;
}

#hemispheres article:first-of-type {
     text-align: right;
}

#hemispheres article:last-child {
     text-align: left;
}

#hemispheres:after {
     clear: both;
     display: table;
     content: "";
}

#celebrations {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
}

#celebrations h2,
#celebrations p {
     width: 100%;
     display: block;
}

#celebrations>article {
     flex: 1 1 calc(50% - 20px);
     margin: 10px;
     box-sizing: border-box;
}

#celebrations article {
     padding: 1em 2em;
     background-color: #1e3d90;
     text-align: center;
     color: #ffffff;
     border-radius: 10px;
}

#celebrations article h3 {
     font-size: 130%;
}

#celebrations:after {
     clear: both;
     display: table;
     content: "";
}

#traditions ul {
     list-style-type: none;
     padding-left: 0px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
}

#traditions ul>li {
     flex: 2 2 calc(20% - 10px);
     margin: 5px;
     box-sizing: border-box;
}

#traditions ul li {
     padding: 1em;
     background-color: #748793;
     text-align: center;
     color: #ffffff;
     align-content: center;
     border-radius: 10px;
}

#traditions ul li strong {
     font-size: 130%;
     display: block;
     padding-bottom: 10px;
}

@media screen and (max-width: 786px) {
     h1 {
          font-size: 25px;
     }

     h1 span {
          font-size: 55px;
     }

     #hemispheres article {
          width: 100%;
          max-width: 100%;
     }

     #hemispheres img {
          width: 100%;
          max-width: 300px;
          clear: both;
          display: block;
          margin: 0 auto;
     }
}